.repoDetail-Container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.repoDetail-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.repoDetail-avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.repoDetail-left{
    margin-left: 15px;
}

.repoDetail-right{
    margin-left: 15px;
}