.user-info-wrapper{
    padding-top: 50px;
    display: flex;
    align-items: center;

}
.user-pic{
    margin-left: 20px;
}
.user-avatar{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.user-detail-info{
    margin-left: 20px;
}