.repo-container{
}

.nav-bar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(53, 51, 51);
}
.link{
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
    color: whitesmoke;
}
.repo-list-center{
    display: flex;
    justify-content: center;
}
.repo-wrap{
    width: 1000px;
}
.repositories-container{
   
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.repositories-container>* {
    flex: 0 0 50%;
}

.repo-name{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.repo-title{
    text-align: center;
}

.repo-title-name{
    cursor: pointer;
}
.repo-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.repo-left{
    margin-left: 15px;
}
.repo-center{
    margin-left: 15px;
   width: 250px;
}
.repo-right{
    margin-left: 15px;
}