.search-box{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .search-wrapper{
    width: 300px;
    height: 300px;
    border: 1px solid #38549B;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .submit-btn{
    margin-top: 10px;
    width: 80%;
    height: 30px;
    background-color: #38549B;
    border: none;
    border-radius: 5px;
    color: aliceblue;
  }

  .search-input{
    height: 30px;
    width: 76%;
    text-align: center;
  }