
.followers-container{
   
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;margin-left: 20px;
}

.repositories-container>* {
    flex: 0 0 50%;
}

.followers-name{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.followers-title{
    text-align: center;
}

.followers-title-name{
    cursor: pointer;
}
.followers-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.followers-left{
    margin-left: 15px;
}
.followers-title{
    text-align: center;
    margin-top: 25px;
}
.followers-center{
    margin-left: 15px;
   width: 250px;
}
